.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal-heading{
  margin-bottom:30px ;
}

.modal-content {
  
  padding: 20px;
  border-radius: 10px;
  max-width: 250px; /* Default size for small screens */
  text-align: center;
  position: relative;
  transform: scale(0.5); /* Start small */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition */
  background-image: radial-gradient(140% 107% at 50% 10%, #000314 37.41%, #6633EE 69.27%, #FFFFFF 100%);
  color: white;
  opacity: 0; /* Start invisible for fade effect */
}

.modal-content.slide-in {
  transform: scale(1); /* Zoom in */
  opacity: 1; /* Fade in */
}

/* Zoom effect on hover */
.modal-content:hover {
 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

/* Media query for larger screens */
@media (min-width: 768px) { /* Adjust based on your design */
  .modal-content {
    max-width: 300px; /* Increase max-width for larger screens */
    height: 185px;
    font-size: large;
  }
}

.cross-button {
  filter: invert();
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
